%p.normal
  %label{ :for => "shell_notifier_pass_script" } Passing Script
  %input.text#shell_notifier_pass_script{ :name => "notifiers[Shell][pass_script]", :type => "text", :value => config["pass_script"] }

%p.normal
  %label{ :for => "shell_notifier_fail_script" } Failing Script
  %input.text#shell_notifier_fail_script{ :name => "notifiers[Shell][fail_script]", :type => "text", :value => config["fail_script"] }
  